.game-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
}

.game-board {
    width: 60%;
    padding: 0%;
    margin: 5% 20%;
    display: flex;
    flex-wrap: wrap;
    /* background: grey; */
}

.game-board--field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    margin-bottom: 1%;
    margin-right: 1%;
    background: black;
    cursor: pointer;
}

.game-board--field:hover {
    background: pink;
}

.game-board--field:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.game-board--field-content img{
    height: 100%;
    width: 100%;
}

.btn-danger {
    background-color: pink;
    border: 1px solid black;
    color: black;
}

.btn-danger:hover {
    background-color: black;
}


/* <img src={o} alt="O" />
<img src={eks} alt="X" /> */