.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.flex>div:last-child {
    flex: 0 1 100%;
}

.manual {
    margin-top: 5%;
}

.scoreBoard {
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 4px solid pink;
    padding: 2%;
}

span {
    display: flex;
    justify-content: center;
    color: pink;
}

.gameBoard {
    cursor: none;
    border: 4px solid pink;
}

.gameBoard--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
