.board {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.scoreBoard {
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 4px solid pink;
    padding: 2%;
}

span {
    display: flex;
    justify-content: center;
    color: pink;
}

canvas {
    cursor: none;
    border: 4px solid pink;
}
