.background-s {
  background-image: url('../pictures/lv.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.btn-s {
  margin-right: 1%;
  width: 7%;
}

.langs {
  color: gold;
  margin-left: 3%;
  padding-top: 1%;
}

.speed {
  margin-top: 3%;
  margin-left: 3%;
  color: gold;
}

.radioBtn {
  margin-right: 1%;
}


