.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url(./pictures/gold.jpg);
  background-size: cover;
  padding: 0.5%;
   
}

.nav-item {
  color: black;
  font-weight: bold;
}

.nav-item:hover {
  color: magenta;
  text-decoration: none;
}
