body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'neon_tubes_2regular';
  src: url('./assets/neontubes/neontubes2-webfont.woff2') format('woff2'),
       url('./assets/neontubes/neontubes2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'las_enter_personal_use_onlyRg';
  src: url('./assets/webfontkit-20190918-053152/lasenter_personaluseonly-webfont.woff2') format('woff2'),
       url('./assets/webfontkit-20190918-053152/lasenter_personaluseonly-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
